<!-- Charity Profile Details-->
<div class="row  w3-container">
	<div class="col-md-4">
		<div class="w3-card-4">
			<h5 class="w3-black w3-padding">Charity Profile</h5>
			<div class="w3-container w3-padding">
				<table class="w3-table-all">
					<tr>
						<th>Name</th>
						<td><input type="text" name="CharityName" placeholder="Enter Charity Name..." class="w3-input">
						</td>
					</tr>
					<tr>
						<th>Email</th>
						<td><input type="email" name="CharityName" placeholder="Enter Charity Email..."
								class="w3-input"></td>
					</tr>
					<tr>
						<th>Mobile</th>
						<td><input type="number" name="CharityName" placeholder="Enter Charity Number..."
								class="w3-input"></td>
					</tr>
					<tr>
						<th>Address</th>
						<td><input type="text" name="CharityName" placeholder="Enter Charity Address..."
								class="w3-input"></td>
					</tr>
					<tr>
						<th></th>
						<td><button class="w3-btn w3-yellow w3-small w3-round">Update</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="w3-card-4">
			<h5 class="w3-black w3-padding">Charity People Strength</h5>
			<div class="w3-container w3-padding">
				<table class="w3-table-all">
					<tr>
						<th>Total Strength</th>
						<td><input type="number" name="CharityName" placeholder="Enter Charity Total Strength..."
								class="w3-input"></td>
					</tr>
					<tr>
						<th>Veg</th>
						<td><input type="number" name="CharityName" placeholder="Enter Charity Veg Strength..."
								class="w3-input"></td>
					</tr>
					<tr>
						<th>Non Veg</th>
						<td><input type="number" name="CharityName" placeholder="Enter Charity Non Veg..."
								class="w3-input"></td>
					</tr>
					<tr>
						<th>Daily Requirement</th>
						<td><input type="number" name="CharityName"
								placeholder="Enter Charity Daily Total Requirement..." class="w3-input"></td>
					</tr>
					<tr>
						<th></th>
						<td><button class="w3-btn w3-yellow w3-small w3-round">Update</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="w3-card-4">
			<h5 class="w3-black w3-padding">Map</h5>
			<div class="w3-container w3-padding">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15554.421399150406!2d77.6145552!3d12.9330676!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe21a58ee4671826!2sGilly%E2%80%99s+Resto+Bar%2C+Bangalore!5e0!3m2!1sen!2sin!4v1561916013848!5m2!1sen!2sin"
					width="100%" height="275" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<!-- End Of Charity Profile Details-->

<hr />
<h3 class="w3-center"><b><u>About Charity</u></b></h3>
<div class="container">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque urna, non viverra dolor.
		Pellentesque eu ipsum libero. Donec semper, magna a commodo pulvinar, diam ipsum varius arcu, posuere aliquet
		sapien libero a ligula. Suspendisse dignissim ipsum at tellus venenatis molestie. Curabitur pellentesque rutrum
		mollis. Sed iaculis tellus facilisis, lobortis lorem eget, malesuada dui. Aliquam quis eros arcu.

		Phasellus eros sapien, dapibus sit amet feugiat in, hendrerit sed enim. Vestibulum dignissim, dui et convallis
		tincidunt, velit nunc pulvinar tortor, in varius nisl quam eu turpis. Proin id turpis at turpis consectetur
		cursus. Sed gravida, elit vitae placerat tempus, ante nisi dignissim nisl, sit amet scelerisque sem ligula in
		risus. Aenean luctus est lacinia purus mattis, id mollis elit venenatis. Nulla faucibus scelerisque ultrices.
		Vestibulum nec magna pulvinar, consectetur leo ac, placerat lacus. Cras tempor maximus venenatis. Vestibulum
		elit velit, pulvinar id lobortis eget, auctor et eros. Vivamus ut sagittis lorem, in pharetra mi. Vestibulum
		ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In id tellus mattis, dictum metus
		dignissim, aliquet ante. Suspendisse potenti. Nulla vitae dolor quis velit dapibus vulputate. Ut facilisis
		tempus condimentum.

		In fringilla lorem libero, ac ullamcorper mi commodo efficitur. Proin vitae leo metus. Interdum et malesuada
		fames ac ante ipsum primis in faucibus. Vivamus et tellus mauris. Fusce hendrerit semper vestibulum. Fusce velit
		massa, ultricies vitae dui in, pulvinar eleifend diam. Curabitur vitae tempor tellus.

		Mauris nulla magna, molestie nec libero at, mattis vestibulum ipsum. Donec sed nulla erat. Aenean congue eros ac
		mollis iaculis. Etiam at est ac sapien sodales tempus. Sed blandit ut velit sit amet rhoncus. Mauris vitae odio
		fringilla, sodales enim a, vulputate dui. Nunc mauris risus, sodales id nisl in, fringilla egestas est. Morbi
		justo nunc, luctus at tincidunt nec, faucibus mattis ante. Donec condimentum ipsum sit amet rhoncus fringilla.
		Cras a viverra nisl, a blandit dui.

		Phasellus magna magna, commodo ut turpis eget, viverra cursus turpis. Aenean bibendum justo dolor, eu mattis
		arcu molestie sollicitudin. Fusce malesuada finibus ultrices. Quisque volutpat faucibus ligula, nec convallis
		nulla dignissim mollis. Cras condimentum, diam vel placerat dictum, mi ex tristique nibh, in rutrum turpis arcu
		eu lorem. Phasellus faucibus ornare dui a condimentum. Sed ut pellentesque dolor. Fusce tortor sapien, porta sit
		amet lacinia id, tristique vel nibh. Ut sed sagittis nisl.
	</p>
</div>

<hr />
<h3 class="w3-center"><b>Requirement Logs</b></h3>
<!-- Food Requirement Log-->
<div class="w3-container w3-padding" style="margin: 10px">

	<!-- Single Requirement Log -->
	<div class=" w3-card-4 row w3-padding" style="margin-top: 20px">
		<div class="col-md-6">
			<label><b><u>Requirement Details</u></b></label>
			<table class="w3-table-all">
				<tr>
					<th>Request Time</th>
					<td>26/06/2019 08:30 AM</td>
				</tr>
				<tr>
					<th>Required</th>
					<td>26/06/2019 06:40 PM</td>
				</tr>
				<tr>
					<th>Total Quantity</th>
					<td>100 [Units]</td>
				</tr>
				<tr>
					<th>Veg</th>
					<td>75 [Units]</td>
				</tr>
				<tr>
					<th>Non-Veg</th>
					<td>25 [Units]</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<label><b><u>Process Details</u></b></label>
			<table class="w3-table-all">
				<tr>
					<th>Expected Deliver Time Time</th>
					<td>26/06/2019 08:30 AM</td>
				</tr>
				<tr>
					<th>Assigned Delivery Agent</th>
					<td>Ashutosh Khamari<br />+91-143</td>
				</tr>
				<tr>
					<th>Status</th>
					<td>
						<select class="form-control">
							<option>Requested</option>
							<option>Accepted</option>
							<option>Delivered</option>
						</select>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<button class="w3-btn w3-small w3-round w3-orange">Delivered</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- End Of Single Requirement Log-->

	<!-- Single Requirement Log -->
	<div class=" w3-card-4 row w3-padding" style="margin-top: 20px">
		<div class="col-md-6">
			<label><b><u>Requirement Details</u></b></label>
			<table class="w3-table-all">
				<tr>
					<th>Request Time</th>
					<td>26/06/2019 08:30 AM</td>
				</tr>
				<tr>
					<th>Required</th>
					<td>26/06/2019 06:40 PM</td>
				</tr>
				<tr>
					<th>Total Quantity</th>
					<td>100 [Units]</td>
				</tr>
				<tr>
					<th>Veg</th>
					<td>75 [Units]</td>
				</tr>
				<tr>
					<th>Non-Veg</th>
					<td>25 [Units]</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<label><b><u>Process Details</u></b></label>
			<table class="w3-table-all">
				<tr>
					<th>Expected Deliver Time Time</th>
					<td>26/06/2019 08:30 AM</td>
				</tr>
				<tr>
					<th>Assigned Delivery Agent</th>
					<td>Ashutosh Khamari<br />+91-143</td>
				</tr>
				<tr>
					<th>Status</th>
					<td>
						<select class="form-control">
							<option>Requested</option>
							<option>Accepted</option>
							<option>Delivered</option>
						</select>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<button class="w3-btn w3-small w3-round w3-orange">Delivered</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- End Of Single Requirement Log-->

	<!-- Single Requirement Log -->
	<div class=" w3-card-4 row w3-padding" style="margin-top: 20px">
		<div class="col-md-6">
			<label><b><u>Requirement Details</u></b></label>
			<table class="w3-table-all">
				<tr>
					<th>Request Time</th>
					<td>26/06/2019 08:30 AM</td>
				</tr>
				<tr>
					<th>Required</th>
					<td>26/06/2019 06:40 PM</td>
				</tr>
				<tr>
					<th>Total Quantity</th>
					<td>100 [Units]</td>
				</tr>
				<tr>
					<th>Veg</th>
					<td>75 [Units]</td>
				</tr>
				<tr>
					<th>Non-Veg</th>
					<td>25 [Units]</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<label><b><u>Process Details</u></b></label>
			<table class="w3-table-all">
				<tr>
					<th>Expected Deliver Time Time</th>
					<td>26/06/2019 08:30 AM</td>
				</tr>
				<tr>
					<th>Assigned Delivery Agent</th>
					<td>Ashutosh Khamari<br />+91-143</td>
				</tr>
				<tr>
					<th>Status</th>
					<td>
						<select class="form-control">
							<option>Requested</option>
							<option>Accepted</option>
							<option>Delivered</option>
						</select>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<button class="w3-btn w3-small w3-round w3-orange">Delivered</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- End Of Single Requirement Log-->

	<!-- Single Requirement Log -->
	<div class=" w3-card-4 row w3-padding" style="margin-top: 20px">
		<div class="col-md-6">
			<label><b><u>Requirement Details</u></b></label>
			<table class="w3-table-all">
				<tr>
					<th>Request Time</th>
					<td>26/06/2019 08:30 AM</td>
				</tr>
				<tr>
					<th>Required</th>
					<td>26/06/2019 06:40 PM</td>
				</tr>
				<tr>
					<th>Total Quantity</th>
					<td>100 [Units]</td>
				</tr>
				<tr>
					<th>Veg</th>
					<td>75 [Units]</td>
				</tr>
				<tr>
					<th>Non-Veg</th>
					<td>25 [Units]</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<label><b><u>Process Details</u></b></label>
			<table class="w3-table-all">
				<tr>
					<th>Expected Deliver Time Time</th>
					<td>26/06/2019 08:30 AM</td>
				</tr>
				<tr>
					<th>Assigned Delivery Agent</th>
					<td>Ashutosh Khamari<br />+91-143</td>
				</tr>
				<tr>
					<th>Status</th>
					<td>
						<select class="form-control">
							<option>Requested</option>
							<option>Accepted</option>
							<option>Delivered</option>
						</select>
					</td>
				</tr>
				<tr>
					<th></th>
					<td>
						<button class="w3-btn w3-small w3-round w3-orange">Delivered</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- End Of Single Requirement Log-->

</div>
<!-- end Of Food Requirement Log-->

<hr />
<h3 class="w3-center"><b>Detailed Reports</b></h3>
<div class="row">
	<div class="col-md-6">
		<div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
	</div>
	<div class="col-md-6">
		<div id="chartContainer1" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
	</div>
	<div class="col-md-6"></div>
	<div class="col-md-6"></div>
</div>