<div class="bg-dark">
  <div class="container w3-padding">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <img src="assets/img/Logo10.png" width="150px" height="50px">
      </div>
    </div>
  </div>
</div>

  <!-- Want Food modal -->
  <div class="modal fade" id="wantFoodModal">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
  
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Want Food?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <form>
              <label>Name</label>
              <input type="text" name="" class="form-control"><br>
              <label>Address</label><br>
              <textarea rows="3" cols="50" class="form-control"></textarea><br>
              <label>Mobile</label>
              <input type="number" name="" class="form-control"><br>
              <label>Requirement</label>
              <div class="form-inline">
                <input type="number" placeholder="Veg" style="width: 45%;" name="" class="form-control">
                <input type="number" placeholder="Non-Veg" style="width: 45%;margin-left: 20px;" name="" class="form-control">
              </div><br><br>
              <button class="btn btn-dark w3-wide" style="width: 30%;">SUBMIT</button>
              &nbsp;&nbsp;
              <a routerLink="/FoodStatus" class="close" data-dismiss="modal" >Food Status</a>
            </form>
          </div>
  
          <!-- Modal footer -->
          <div class="bg-dark" style="padding: 18px;">
            <label class="w3-text-white">&copy; Copyright Reserved Wastage Reduction</label>
          </div>
          
        </div>
      </div>
    </div>
  
    <!-- Donate Food -->
    <div class="modal fade" id="donateFoodModal">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
  
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Donate Food?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
  
          </div>
  
          <!-- Modal footer -->
          <div class="bg-dark" style="padding: 18px;">
            <label class="w3-text-white">&copy; Copyright Reserved Wastage Reduction</label>
          </div>
          
        </div>
      </div>
    </div>